/* ===================== COLORS ========================*/
.pink {
  color: #FF778F;
}

.bold {
  color: #E4B3B2;
  font-weight:900;
}

.green {
  color: #d1fa72;
}

.yellow {
  color: #f7dc6a;
}

.magenta {
  color: #F5A2CE;
}
/*======================================================*/
.hai:hover {
	cursor: pointer;
}

.footer {
  font-size: 100px;
  font-size: 10vw;
  text-align: center;
}

.footer-title {
  position: absolute;
  bottom: 0;
  right: 0;
}

body {
  color: #f7f7f7 !important;
  background-color: #1b1b1b !important;
}


::selection {
  background: #C1DEFF; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #C1DEFF; /* Gecko Browsers */
}

.button-link:hover {
  cursor: pointer;
}

/* ===================== CV ========================*/

.study-year {
  padding-right: 2px !important; 
  padding-left: 2px !important;
}

.years {
  padding-right: 30px;
}

.study {
  padding-bottom: 20px;
}

.studies {
  margin-left: 30px;
}

.internship {
  padding-left: 40px !important;
  margin-top: 5px;
}

.internshiptext {
  max-width: 500px;
}


/*======================================================*/